# Python Data Structure

## Data Types

<p> There are many kinds built-in data type can be use in Python programming. </p> 

1. Numeric Types:
   - `int`: Represents integers, such as 5, -3, and 0.
   - `float`: Represents floating-point numbers, including decimal values like 3.14.

2. Text Type:
   - `str`: Represents strings of characters, such as "Hello, World!".

3. Boolean Type:
   - `bool`: Represents boolean values, which can be either `True` or `False`.

4. Sequence Types:
   - `list`: Represents ordered and mutable (changeable) sequences of elements.
   - `tuple`: Represents ordered and immutable (unchangeable) sequences.
   - `range`: Represents a sequence of numbers.
5. Complex Types:
   - `real + imaginary`: Normally starts with cobination of "int" and "str", where the "str" part represent the imaginary while the "int" represent the real number..
etc.

See the diagram below


<img src="img/6daec5a05e0211ee8bfd4936ea6288fa.map-removebg-preview.png" alt="" width="800">
Check for more https://realpython.com/python-data-types/

<p> List and tuple may lok the same, but it is totally different. List with starts with [] while tuple starts with (). List has mutability (can be change after created) while tuple does not. </p>

In [ ]:
# Data type
A = 1
print(type(A))

In [ ]:
# Data type
A =1.2
print(type(A))

In [ ]:
# Data type
A =range(10)
print(type(A))
print(A)

In [ ]:
# Data type
A = 3 + 4j
print(type(A))

In [ ]:
# Data type
A = "Hallo Sayang"
print(type(A))

In [ ]:
# Data type
A = True
print(type(A))

In [ ]:
# Data type
A = ["Andi", "Cinta", "Jessica"]
print(type(A))

In [ ]:
# Data type
A = ("Andi", "Cinta", "Jessica")
print(type(A))

## List

In [ ]:
number = ([1,2,3,4,5,6])

Measuring the length of the data, uses the len(number).

In [ ]:
print(len(number))

Indexing on the data can be done by

In [ ]:
number[0]

<img src="img/List-slicing_data.jpg" alt="" width="800">

In [ ]:
List = ["Alfa", "Prima", "Students"]
print("List containing multiple values: ")
print(List)

Data can be multi-dimension.

In [ ]:
Brand = [['Yamaha', 'Honda'], ['Suzuki'], ['Tesla'], ['Toyota']]
print("Multi-Dimensional List: ")
print(Brand)

accessing a element from the list using index number

In [ ]:
print("Accessing element from the list")
print(List[0])
print(Brand[0])

Accessing element using negative indexing

In [ ]:
# print the last element of list
print(List[-1])
	
# print the third last element of list
print(List[-3])

How we count the data.

In [16]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

fruits.count('banana')

2

Finding the index/location.

In [17]:
fruits.index('banana')

3

How can we updating the list.

In [18]:
fruits.append('grape')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

## Tuple

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
type(my_list)

In [ ]:
type(my_tuple)

Tuple is `immutable` data types.

In [ ]:
my_tuple[1] = 4

In [ ]:
my_list[1] = 4

## Dictionary

`Dictionaries` are a fundamental data structure in Python that allow you to store and retrieve data using key-value pairs. Each key in a dictionary maps to a specific value, and you can use the key to access its associated value quickly. Dictionaries are mutable, unordered collections of items.

In [4]:
alien_0 = {'color': 'green', 'points': 5}
print(alien_0['color'])
print(alien_0['points'])

green
5

In [5]:
alien_0[0]

KeyError: 0

Working with Dictionary

In [1]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
name = my_dict["name"]  # Accessing value using key
age = my_dict.get("age")  # Using get() method
print(f"People with name {name} is {age} years old")

People with name John is 30 years old

Checking Existence

In [2]:
print(f"{name} is in the dictionary")

John is in the dictionary

In [7]:
print(my_dict["age"])

30

In [8]:
print(my_dict.get("age"))

30

In [9]:
my_dict.get("age")

30

## String

<p>Strings are immutable, modifying a string will result in creating a new copy.</p>

In [11]:
String = "Welcome to Alfa Prima"
print("Creating String: ")
print(String)

Creating String:
Welcome to Alfa Prima

In [12]:
# Printing First character
print("First character of String is: ")
print(String[0])

First character of String is:
W

In [13]:
# Printing Last character
print("Last character of String is: ")
print(String[-1])

Last character of String is:
a

In [14]:
String[0] = 1

TypeError: 'str' object does not support item assignment