## List Comprehension

In Python, list comprehensions provide a concise way to create lists based on existing sequences (lists, tuples, or other iterable objects) or perform operations on elements. List comprehensions are often used for filtering and transforming data. The basic syntax of a list comprehension is as follows:

Syntax

In [ ]:
new_list = [expression for element in list]

#### 1. Creating a squared list number

In [ ]:
squared_numbers = [x**2 for x in range(1, 6)]
# Result: [1, 4, 9, 16, 25]
print(squared_numbers)

In [ ]:
for i in range(6):
    print(i**2)

#### 2. Working with different element

In [ ]:
data = [("aku",1), ("dia", 2), ("kamu",3)]
## (i,j)

new_data = [j**2 for (i,j) in data]
print(new_data)
string = [i for (i,j) in data]
print(string)

#### 3. Creating a list of Odd and even numbers

In [ ]:
odd = [2*i+1 for i in range(10)]
print(odd)

In [ ]:
for item in range(1, 20):
    print(item)

#### 4. Slicing list data and Modifying

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [ ]:
type(players)

In [ ]:
len(players)

In [ ]:
#slicing must refers to the index position, srart with 0 to target positions

players[0:1]

In [ ]:
full_name = []
for i in players:
    full_name.append(i+" Jonas")
print(full_name)

In [ ]:
students = []
for i in players:
    students = i + " is Alpha Prima Students"
    print(students)

In [ ]:
mahasiswa = []

for i in players:
    mahasiswa = i + " sedang kuliah"
    print(mahasiswa)

#### 5. Looping through a Slice

In [ ]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

#### 6. Working with nested list comprehensions

In [ ]:
data = [1,2,3,4,5,6,7,8,9,10]

new_data = [i**2 for i in [i+1 for i in data]]
print(new_data)

In [ ]:
data2 = [i**2 for i in [i*2 for i in data]]
print(data2)

## Conditional Statement (If, Else, Elif, while)

In Python, we can use __if__, __else__, and __elif__ (short for "else if") statements to perform conditional branching. These statements are used to execute different blocks of code depending on whether certain conditions are met. You can use if, elif, and else statements in various contexts, including within functions, loops, and more.

Syntax

In [ ]:
if condition1:
    # Code to execute if condition1 is True
elif condition2:
    # Code to execute if condition2 is True
else:
    # Code to execute if none of the conditions are True

#### 1. Working with True and False Statements

In [5]:
condition = True

if condition:
    print("This code is true")

This code is true

In [7]:
condition = False
data1 = [1,2,3]
data2 = [4,5,6]
if condition:
    print(data2)

#### 2. Working with if - else

In [8]:
if condition:
    print(data1)
else:
    print(data2)

[4, 5, 6]

#### 3. Iteration with conditional statements

In [ ]:
import numpy as np

# Create a sample NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Iterate through the elements and print if greater than 1
for i in arr:
    if i > 2:
        print(i)

In [1]:
data = ["dara", "putri", "jessica", "dara", "dara", "putri"]

count_dara = 0  # Initialize a count variable

for i in data:
    if i == "dara":
        count_dara += 1  # Increment the count variable for each occurrence

print(f"The string 'dara' appears {count_dara} times in the list.")

The string 'dara' appears 3 times in the list.

In [4]:
count = data.count("dara")
print(f"The string 'dara' appears {count} times in the list.")

The string 'dara' appears 3 times in the list.

#### 4. Filtering using conditional statements

In [5]:
x = 10

if x > 10:
    print("x is greater than 10")
elif x < 10:
    print("x is less than 10")
else:
    print("x is equal to 10")

x is equal to 10

In [9]:
x = [1, 2, 3, 4, 5, 6]
for i in x:
    if i % 2 != 0:
        print(f"Yes {i} is an odd numbers")

Yes 1 is an odd numbers
Yes 3 is an odd numbers
Yes 5 is an odd numbers

In [ ]:
data = [2,4,6]

for i in data:
    if i % 2 !=0:
        print(f"{i} is odd numbers")
    else:
        print(f"{i} is even numbers")

In [ ]:
import numpy as np

# Create a sample NumPy array
arr = np.array([1, 2, 3, 4, 5])

# Create an empty list to store the filtered elements
filtered = []

# Iterate through the elements and add to the list if greater than 1
for element in arr:
    if element > 1:
        filtered.append(element)

# Convert the list to a NumPy array
new_array = np.array(filtered)

# Print the new array
print(new_array)

In [ ]:
this_value = 10
if this_value == 9:
    print('the value is 9')
else:
    print('the value is not 9')

#### Dont try this

In [ ]:
a = 10

while a > 0:
    print(a)

print('Tewas')

#### 3. Break and Continue

In [ ]:
# break


for i in range(10):
    print(i)
    if i % 2 != 0:
        break


# continue

for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

#### 4. Checking Conditions

In [ ]:
age = 12
if age >= 18:
    print("You are good enough to vote!")
else:
    print("Go home kid!")

#### 5. Checking a Multiple Conditions

In [ ]:
age = 12
if age < 4:
    print("Your admission cost is $0.")
elif age < 18:
    print("Your admission cost is $25.")
else:
    print("Your admission cost is $40.")

In [ ]:
condition = True

if condition:
    print('This code executes if the condition evaluates as True.')
else: 
    print('This code executes if the condition evaluates as False')

#### Excercise

#### 1. Check the following code and fix it

In [ ]:
condition = False
data1 = ["Ganjar"]
data2 = ["Prabowo"]
if condition:
    print(data1[0] + " menang")
    print(data2[0] + " kalah")
else:
    print(data2[0] + " menang")
    print(data1[0] + " kalah")

 <div>
    Answer:
    </div>
 <div>
    Ganjar menang
    </div>
<div>
    Prabowo kalah
    </div>

#### 2. Fix the error

In [3]:
data = [2,3,2,4,5,3,6,2,3,1,2,1,2]

for i in data:
    if i for 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

SyntaxError: invalid syntax (48527642.py, line 4)

#### 3. Fix the error

In [12]:
conditional = False
dia = "sayang"

if conditional:
    if dia == "sayang":
        print("Yay kita jadian!")
    else:
        print("Oh no.")
else:
    print("Aku terluka")

Aku terluka

Answer : Yay kita jadian!